Customers
-> Function Defination - Working or Not Working
-> List of All Customers - Working
-> Delete Any Customer Button - Working
-> Edit Customer Details Button - Working
-> Search Button for Customer (Optimize for Searching till 1000 Customer) - Working
-> New Customer Dialogue Box, Country Section should also have search functionality based on Customer chose - Working

---> Remaining Functionality

-> Seperate Section For Recieving Customer from Sender 



Shipments 
-> Function Defination - Working or Not Working
Search Shipment based upon Customer, Received (Same Module as Search Customers but we should get his Shipments) - Not working
Dialogue Box for New Shipment should have following inputs, [
Consignment Information
Reference No.
0
Service Provider
UPS
Airway Bill
Booking Date and Time
10/12/2025
Origin
SIALKOT
Description
NON-DOX
Duty & Tax
Duty Paid by Receiver
Shipper Information
Shipper Company
Person Name
Shipper Address 1
Shipper Address 2
Shipper City
Shipper State
Email ID
Shipper Zip Code
Telephone No.
CNIC No.
NTN No.
Consignee Information
Consignee Attention
Consignee Company
Consignee Address
Country 
City 
State
Postal Code
Email
Telephone No.
KYC TYPE
SELECT...
KYC NUMBER
Goods Information
Goods Description
Boxes
Weight
Volume Weight
Charged Weight
Terms
CFR
Currency
USD
Cust. Value
Reason for Export
SAMPLE
Shipment Remarks
HS Code
We-Boc Country
Select Country
Dimention Information
Sr.No.	Boxes	Length	Width	Height	Vol. Wt.	Act. Wt.
No data available in table
Invoice Information
Invoice No.
Ref No.
Freight Charges.
Sr.No.	Box No.	Description	HS Code	Pieces	Unit Type	Rate	Amount	Unit Weight

] - Our Dialogue box is short





Invoices:
Functionalities - Addons(How to should work)
-> Automated Invoice Creation From Shipment - Build A Automated Invoice from Shipment with relevant detail.
-> A good format invoice type with Company Logo and relevant Details should be created in System 
-> That same Styled Invoice than can be Exported as PDF - The PDf should be Exported Than
-> Next Functionalities will be added later after testing these Functions